{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "extends": "@leadhome/eslint-config",
  "rules": {
    "import/no-unresolved": "off"
  }
}